.carousel-item{
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
}
.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px; 
} 
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}
.texto-naranja{
    text-align: center;
    font-size: large;
    color:#ff6c0c;
    font-family: 'Staatliches', cursive;
}
.logged-in, .logged-out {
    display: none;
}
